<ion-header>
  <ion-toolbar>
    <ion-title>detalhes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
      <ion-img  src="https://image.tmdb.org/t/p/w500/{{filme.backdrop_path}}"></ion-img>
      <ion-card-header>
        <ion-card-subtitle></ion-card-subtitle>
        <ion-card-title>{{filme.title}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
         <p><b>Ano: </b></p>
         <p><b>Cor: </b></p>
      </ion-card-content>
    </ion-card>
</ion-content>
