<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
    <ion-title>Ator</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-card>
        <ion-img  src="https://image.tmdb.org/t/p/w500/{{ator.profile_path}}"></ion-img>
        <ion-card-header>
          <ion-card-title>{{ator.name}}</ion-card-title>
          <p>Data de Nascimento</p><ion-card-subtitle>{{ator.birthday}}</ion-card-subtitle>
          <p>Biografia</p><ion-card-subtitle>{{ator.biography}}</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
      <p>Filmes Feitos</p>
    <ion-grid>
      <ion-row>
          <ion-col *ngFor="let combined of combinedCredits" size='3'>            
            <ion-img src="https://image.tmdb.org/t/p/w500/{{combined.poster_path}}"></ion-img>
          </ion-col>
      </ion-row>
  </ion-grid>
  </ion-content>
